@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum, ipsum vel finibus gravida, ex urna egestas augue, a tristique eros ex vitae sapien. Vestibulum dapibus ullamcorper posuere. Praesent volutpat maximus quam, at tincidunt quam. Fusce sed consequat turpis, sit amet rhoncus eros. Nam ipsum sem, sollicitudin id dui non, luctus placerat ligula. Fusce a iaculis tellus. Nunc vitae tristique mauris, vel iaculis augue. Nulla facilisi. Donec quis laoreet odio. Fusce egestas quam ac sem consectetur pretium. Nam risus neque, semper eget ultricies ac, maximus eu risus. Vestibulum convallis ipsum vitae risus dictum lobortis. </p>
<p>Donec hendrerit, neque ut semper mattis, ante leo euismod felis, ac pulvinar odio lacus sed erat. Maecenas semper urna bibendum posuere mattis. Donec augue dolor, varius eget dignissim sit amet, fringilla et neque. Nulla vitae elementum urna. Sed molestie erat in mi ornare finibus. Donec ac gravida diam. Vestibulum rhoncus, dolor nec efficitur fermentum, erat arcu aliquam nisl, a mattis magna purus sed leo. Curabitur mi risus, molestie non libero id, pharetra placerat sem. In hac habitasse platea dictumst. </p>
